venv/
db.sqlite3
__pycache__/
.env

# VS Code
.vscode/

# PyCharm
.idea/

# Sublime Text
*.sublime-project
*.sublime-workspace

*.pyc
*.pyo

*.log

# Coverage
.coverage
htmlcov/

# Django
local_settings.py
media/

pyrightconfig.json

# Ruff
.ruff_cache/
.DS_Store

# Pyenv
.python-version